.MarginlessBody
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.TableDashboard
{    
	HEIGHT: 1px;  
	WIDTH: 100%;  
	BORDER: 0px none;
	TEXT-ALIGN: left;
	aaCELLPADDING: 0;
	aaCELLSPACING: 0;
}
.trDashboard
{    
	WIDTH: 1px;
	HEIGHT: 1px;
	VERTICAL-ALIGN: top;
	TEXT-ALIGN: left
}
.tdDashboard
{    
	aaaHEIGHT: 1px;    
	VERTICAL-ALIGN: top;    
	TEXT-ALIGN: left
}
.IFrameDashboard
{
	HEIGHT: 100%;
	WIDTH: 100%;
	BORDER: 0px none;
	TEXT-ALIGN: left
}
